---
import Layout from '../layouts/Layout.astro';
import Chat from '../components/Chat'
---

<Layout title="Hello, I'm PEDRO">
	<main>
		<a href="/"><img class="w-36 h-auto m-auto mb-4" src="/pedro.png" alt="" /></a>
		<h1 class="pb-4 text-center"><span class="text-gray-900 font-bold text-2xl">Hello, I'm PEDRO</span></h1></h1>
		<p class="bg-white p-4 rounded mx-1 mb-4 text-sm border border-gray-700">
			<span class="font-bold">Notice:</span> All information you provide while using this chatbot is guaranteed to be <span class="font-bold">private and confidential</span>. To start, pick a question or type it directly in the text box below.
			Read our <a class="underline" href="/privacy">Privacy Policy</a>.
		</p>
		<Chat client:only />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
