---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello PEDRO | Privacy Policy">
  <main>
    <div class="container text-gray-900 p-4 mx-auto">
      <a href="/">
        <img class="w-36 h-auto m-auto mb-4" src="/pedro.png" alt="" />
      </a>
      <h1 class="pb-4 text-center">
        <span class="text-gray-900 font-bold text-2xl">
          Privacy Policy for PEDRO Chatbot
        </span>
      </h1>
      <div
        class="bg-white p-4 rounded mb-4 text-sm border border-gray-700 mx-auto md:mx-8"
      >
        <p>
          PEDRO (Philippine Electronic Drug Reformation Officer) values your
          privacy and is committed to maintaining the confidentiality and
          security of your personal information. This Privacy Policy outlines
          how we collect, use, and disclose information obtained using PEDRO
          Chatbot.
        </p>
        <ol class="mt-4 list-decimal">
          <li class="mt-4 ml-8">
            PEDRO only collects personal information that you voluntarily
            provide while interacting with him. He does not store any personal
            information without your explicit consent.
          </li>
          <li class="mt-4 ml-8">
            The information you provide is used solely to improve the accuracy
            and effectiveness of the drug reformation assistance provided by
            PEDRO. He does not share your personal information with any third
            parties unless you give him explicit permission to do so.
          </li>
          <li class="mt-4 ml-8">
            PEDRO does not store any personal information without your consent.
            Any information you provide during your interaction with the chatbot
            is used in real-time to assist you and is not stored or retained by
            our systems. PEDRO employs security measures to protect the data
            transmitted during your session, ensuring its confidentiality.
          </li>
          <li class="mt-4 ml-8">
            PEDRO does not disclose your personal information to any third
            parties without your explicit consent. Your privacy is paramount to
            us, and PEDRO maintains strict confidentiality.
          </li>
          <li class="mt-4 ml-8">PEDRO do not use cookies to function.</li>
          <li class="mt-4 ml-8">
            PEDRO may provide links to third-party websites for reference
            purposes only. He is not responsible for the privacy practices,
            content, or accuracy of these external websites. We encourage you to
            review their respective privacy policies.
          </li>
          <li class="mt-4 ml-8">
            PEDRO is not intended for individuals under the age of 18. PEDRO
            does not knowingly collect personal information from children. If
            you believe that a child has provided him with personal information,
            please contact us immediately, and we will take appropriate steps to
            delete such information.
          </li>
          <li class="mt-4 ml-8">
            PEDRO reserves the right to amend or update this Privacy Policy at
            any time without prior notice. The revised policy will be posted on
            the PEDRO Chatbot platform, and your continued use of the chatbot
            signifies your acceptance of any amendments.
          </li>
        </ol>
        <h2 class="mt-4 font-bold">Contact Us</h2>
        <p class="mt-4">
          If you have any questions or concerns about this Privacy Policy or the use of PEDRO, please contact us at +63 920 397 0794 or +63 966 268 6687 or visit us in our office at the PDEA Regional Office VI building, Pepita Aquino Avenue, corner Fort San Pedro Drive, Iloilo City.
        </p>
        <p class="mt-4">
          Note: This revision emphasizes the privacy and confidentiality of user information, stating that no personal information is stored without explicit consent.
        </p>
      </div>
      <br />
      <div class="text-right w-full md:px-8 sm:px-4">
        <a class="bg-green-600 text-white p-4 rounded" href="/">Back to Chat</a>
      </div>
    </div>
  </main>
</Layout>
