---
import Layout from '../layouts/Layout.astro';
import Chat from '../components/Chat'
enum IChatMode {
    English = 0,
    Tagalog = 0,
    Hiligaynon = 0
} 
---

<Layout title="Hello, I'm PEDRO">
	<main>
		<a href="/"><img class="w-36 h-auto m-auto mb-4" src="/pedro.png" alt="" /></a>
        <h1 class="pb-4 text-center"><span class="text-gray-900 font-bold text-2xl">Hello! Ako si PEDRO.</span></h1></h1>
		<p class="bg-white p-4 rounded mx-1 mb-4 text-sm border border-gray-700">
			<span class="font-bold">Paunawa:</span> Lahat ng impormasyon na ibinibigay mo habang ginagamit mo ang chatbot na ito ay tinitiyak na pribado at kumpidensyal. Upang magsimula, piliin ang isang tanong o i-type ito direkta sa text box sa ibaba. Basahin ang aming Patakaran sa Privacy.
			Basahin ang aming <a class="underline" href="/privacy">Patakaran sa Privacy</a>.
		</p>
		<Chat ChatMode={1} client:only />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
